
<body style="background-color: #f4f4f4;">
<div class="site-notice">
  <a href="<%= Settings.get('site','top_notice_link') %>" target="_blank">
    <em><%= Settings.get('site','top_notice') %></em>
  </a>
</div>
<header class="site-header">

  <%= render :partial => 'layouts/sitenav' %>

</header>

<section class="content-wrap" style="margin-top: 20px;">
  <div class="container">

    <!-- Top content -->
    <div class="top-content">

      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1><strong><%= Settings.get('site','name') %></strong></h1>
              <div class="description">
                <p>
                  <%= Settings.get('site','s_name') %>
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div id="ajax_form" class="col-sm-6 col-sm-offset-3 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>修改密码</h3>
                  <p>通过短信验证码来修改您的密码</p>
                </div>
                <div class="form-top-right">
                  <i class="fa fa-key"></i>
                </div>
              </div>
              <div class="form-bottom">
                <form role="form" action="" method="post" class="login-form">


                  <div class="form-group">
                    <label class="sr-only" for="form-phone">手机号</label>
                    <input type="text" name="form-phone" placeholder="手机号"
                           class="form-password form-control" id="form-phone">

                  </div>

                  <div class="form-group">
                    <label class="sr-only" for="form-smscode">短信验证码</label>
                    <div class="row">
                      <div class="col-md-8">
                        <input type="text" name="form-smscode" placeholder="短信验证码"
                               class="form-password form-control" id="form-smscode">
                      </div>
                      <div class="col-md-4">
                        <button id="form-sms-button" onclick="send_sms();" type="button" class="btn">发送短信码</button>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="sr-only" for="form-password">新密码密码</label>
                    <input type="password" name="form-password" placeholder="输入密码"
                           class="form-password form-control" id="form-password">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-repassword">确认新密码</label>
                    <input type="password" name="form-repassword" placeholder="确认密码"
                           class="form-password form-control" id="form-repassword">
                  </div>
                  <div id="ajax-notice"></div>
                  <button onclick="submit_form();" type="button" class="btn">修改密码</button>
                  <a href="login.html" style="color:#4c4c4c;">返回登陆界面</a>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>
<footer id="footer" class="footer hidden-print" style="border-top: 0px #eee solid;">
  <div class="mostused-packages text-center hidden-xs hidden-sm">
    <%= render :partial => 'layouts/contact_bottom' %>
  </div>
  <%= render :partial => 'layouts/copyright' %>
</footer>
<script>
  function send_sms() {
    var step = 59;
    var sms = document.getElementById("form-sms-button");
    $.ajax({
      url: '/func/sms_send',
      method: 'POST',
      data: 'phone='+$("#form-phone").val(),
      processData: false,
      contentType: 'application/x-www-form-urlencoded',
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      },
      success: function(result) {
        if(result == 'true'){
          $(sms).text('重新发送60');
          var _res = setInterval(function()
          {
            $(sms).attr("disabled", true);//设置disabled属性
            $(sms).text('重新发送'+step);
            step-=1;
            if(step <= 0){
              $(sms).removeAttr("disabled"); //移除disabled属性
              $(sms).text('获取验证码');
              clearInterval(_res);//清除setInterval
            }
          },1000);
        }
        else {
          $("#ajax-notice").html("<div class='alert alert-danger' role='alert'><strong>"+result+"</strong></div>");
        }
      }
    });
  }
  function submit_form(){

    var isready = true;
    $("#ajax_form").find('input[type="text"], input[type="password"]').each(function(){
      if( $(this).val() == "" ) {
        $(this).addClass('input-error');
        isready = false;
      }
      else {
        $(this).removeClass('input-error');
      }
    });
    if(isready==true){
      var str_data=$("#ajax_form input").map(function(){
        if($(this).attr("type") != 'radio')
          return encodeURI($(this).attr("name")+'='+$(this).val());
      }).get().join("&");
      $.ajax({
        url: '/func/update_pwd_out',
        method: 'POST',
        data: str_data,
        processData: false,
        contentType: 'application/x-www-form-urlencoded',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        success: function(result) {
          if(result == 'true'){
            $("#ajax-notice").html("<div class='alert alert-success' role='alert'><strong>修改成功!</strong> 请使用新密码登陆</div>")
          }
          else {
            $("#ajax-notice").html("<div class='alert alert-danger' role='alert'><strong>"+result+"</strong></div>");
          }
        }
      });
    }
  }
</script>
</body>